// Colors
$bg-color-start: rgba(255, 191, 0, 0.4);
$bg-color-mid: rgba(121,112,9,0.65);
$bg-color-end: rgba(2,0,36,0.7);
$border-color: #565e50;
$item-bg-color: #dee3d8;
$edit-border-color: #5c9f1d;
$error-border-color: #ff6200;
$btn-primary-color: blue;
$btn-primary-hover-color: #60a3fa;
$btn-cancel-color: red;
$btn-cancel-hover-color: #ef5454;
$toolbar-bg-color: #f3efef;
$toolbar-border-color: #999999;
$toolbar-icon-color: #333333;
$modal-overlay-color: rgba(0, 0, 0, 0.5);
$white-color: #fff;